In [2]:
list_one = ["DEPI","Learning","ml"]
list_one.append("dl")

In [4]:
list_one

['DEPI', 'Learning', 'ml', 'dl']

In [ ]:
list_one.insert(0,"genAI")

In [12]:
list_one

['genAI', 'genAI', 'DEPI', 'Learning', 'ml', 'dl']

In [14]:
list_1 = [1,2,3]
list_2 = [4,5,6]
x = list_1 + list_2

In [15]:
list_1.extend(list_2)

In [16]:
list_1

[1, 2, 3, 4, 5, 6]

In [17]:
list_one = ["DEPI","Learning","learning","ml"]
list_one.remove("learning")
print(list_one)

['DEPI', 'Learning', 'ml']

In [2]:
list_one = ["DEPI","Learning","learning","ml"]
list_one.pop()
print(list_one)

['DEPI', 'Learning', 'learning']

In [3]:
list_one = ["DEPI","Learning","learning","ml"]
x = list_one.pop()
print(x)

ml

In [ ]:
list_one = ["DEPI","Learning","learning","ml"]
del list_one[1:]
print(list_one)

['DEPI']

In [7]:
list_one = ["DEPI","Learning","learning","ml"]
del list_one
print(list_one)

NameError: name 'list_one' is not defined

In [9]:
x = input()
print(type(x))

<class 'str'>

In [11]:
name = input("Enter Your Name")
id = input("Enter Your ID")

print(f"Your Name Is: {name}, and your ID Number is: {id}")

Your Name Is: Mohamed, and your ID Number is: 81509

In [16]:
item_list= ["amit","learning","python","machine learning"]

In [17]:
item = input("enter the item to remove")
item_list.remove(item)

In [15]:
item_list

['amit', 'python', 'machine learning']

In [20]:
list_3 = [1,2,2,4]
list_3.index(2)

1

In [ ]:
list_4 = [1,2,2,4]
list_3.count(2)

2

In [23]:
list_5 = [50,33,21,105]
list_5.sort()
list_5

[21, 33, 50, 105]

In [1]:
tuple_1 = (50,33,21,105)
item = 5
print(type(tuple_1))
# 34an t8yr fel tuple lazm t7tha fe list    
list(tuple_1)
new_list = list(tuple_1).append(item)
print(new_list)

<class 'tuple'>
None

In [ ]:
set_1 ={1,2,3}
type(set_1)
set_2 = {3,4,5}
set_1.intersection(set_2)

{3}

In [29]:
set_1.difference(set_2)

{1, 2}

In [31]:
dict_1 = {"key_1":12.5,"Key_2":"DEPI"}
type(dict_1)
dict

dict

In [32]:
dict_1["key_1"]

12.5

In [33]:
items = ("a",1),("b",2),("c",3)
new_dict = dict(items)
print(new_dict)

{'a': 1, 'b': 2, 'c': 3}

In [36]:
num = int(input("enter your number"))
print(num)

40

In [37]:
num_1 = int(input("Enter First Num"))
num_2 = int(input("Enter Second Num"))
print(f"Sum {num_1 + num_2}\n sub{num_1 - num_2}\n Div {num_1/num_2}\n Multi {num_1 * num_2}")

Sum 30
 sub-10
 Div 0.5
 Multi 200

In [ ]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif b == a:
    print("a and b are equal")
else:
    print("b is not greater than a")

b is not greater than a

In [40]:
x = 5
y = 10
if x > 0 and y > 0:
    print("both x and y are positive.")

both x and y are positive.

In [41]:
x = 5
result = "Even" if x % 2 == 0 else "odd"
print(result)

odd

In [43]:
a = 10
b = 5 
result =  a + b if a > b else a - b
print(result)

15

In [ ]:
age = 21
print("adult") if age >= 18 else (print("Teenager") if age <= 13 print("Child"))

SyntaxError: expected 'else' after 'if' expression (2304907317.py, line 2)

In [51]:

std_grade = int(input("Enter your degree"))
if 0 < std_grade <= 100:
    if 90 <= std_grade <= 100:
        print("A")
    elif 80 <= std_grade < 90:
        print("B")
    elif 70 <= std_grade < 80:
        print("C")
    elif 60 <= std_grade < 70:
        print("D")
    else: print("F")
else:
    print("You Must Enter a Value between 0 to 100")

You Must Enter a Value between 0 to 100

In [52]:
for i in "DEPI":
    print(i, "ml")
else:
    print("finished")

D ml
E ml
P ml
I ml
finished

In [53]:
for i in range(10):
    print(i,"ml")
else:
    print("finished")

0 ml
1 ml
2 ml
3 ml
4 ml
5 ml
6 ml
7 ml
8 ml
9 ml
finished

In [54]:
for i in range(6):
    if i == 3:
        continue
    print(i)

0
1
2
4
5

In [55]:
for i in range(6):
    if i == 3:
        break
    print(i)

0
1
2