In [1]:
def std_info(name:str, age:int):
    '''
    this function takes student information like name and age\n 
    param_1: take user name from user\n
    type param_1: str\n
    param_2: take age from user\n
    type param 2:int\n
    
    return : print student information for name and age
    type return: str, int


    '''
    return f"my name is {name}, and my age is {age}"

In [3]:
from std import std_info

In [ ]:
x= std_info(name= "Monsef",age= 26)

'my name is Monsef, and my age is 26'

In [11]:
def calculator_info(num_1:int,num_2:int):
    '''
    
    
    
    '''
    return(f"Sum {num_1 + num_2}\n sub{num_1 - num_2}\n Div {num_1/num_2}\n Multi {num_1 * num_2}")

In [ ]:
def add(num_1, num_2):
    return num_1 + num_2

def subtract(num_1, num_2):
    return num_1 - num_2

def multiply(num_1, num_2):
    return num_1 * num_2

def divide(num_1, num_2):
    if num_2 == 0:
        return "Error! Cannot divide by zero."
    return num_1 / num_2

# Main Function to control the calculator
def main():
    print("--------calc-------")
    print("Choose operation:")
    print("1 - Sum")
    print("2 - Sub")
    print("3 - Multiply")
    print("4 - Divide")
    try:
        
        choice = input("Enter choice (1/2/3/4): ")
        
        num_1 = float(input("Enter first number: "))
        
        num_2 = float(input("Enter second number: "))
        
    except:
        print("Invalid input! Please enter numbers only.")
        
        return
    

    if choice == '1':
       result = sum(num_1, num_2)
    elif choice == '2':
        result = subtract(num_1,num_2)
    elif choice == '3':
        result = multiply(num_1,num_2)
    elif choice == '4':
        result = divide(num_1, num_2)
        
    else:
        print("Invalid choice")
    print("Result is: ",result)


if __name__ == "__main__":
    main()

In [31]:
def func_1(*name):
    print(name)
    print(type(name))

In [32]:
"{},{}".format("monsef","26")

'monsef,26'

In [33]:
func_1("Depi","ml","ds",[1,2,3,4])

('Depi', 'ml', 'ds', [1, 2, 3, 4])
<class 'tuple'>

In [34]:
def function_1(**name):
    print(name)
    print(type(name))

In [37]:
function_1(key1= 12.5,key2= 20,key3= "DEPI")

{'key1': 12.5, 'key2': 20, 'key3': 'DEPI'}
<class 'dict'>

In [39]:
def sum(x,y):

    return x + y

In [46]:
print(type(sum) )

<class 'function'>

In [49]:
result= lambda x : x + 10
result(10)

20

In [53]:
add_number = lambda num_1,num_2 : num_1 * num_2
print(add_number(20,50))

1000

In [2]:
def reversed_func(word):
    str_list = word.split()
    str_list = str_list[::-1]
    result = " ".join(str_list)
    return result

In [3]:
reversed_func(" Mohamed Monsef")

'Monsef Mohamed'